body {
  font-family: sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box {
  background-color: grey;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.input {
  margin-bottom: 20px;
}
.input input {
  height: 35px;
  font-size: medium;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.5);
  text-indent: 16px;
  border: none;
}
.btn {
  margin-top: -10px;
  background: rgb(192, 188, 188);
  color: red;
  width: 200px;
  height: 35px;
  border-radius: 100px;
  border: none;
}

.btn:hover {
  background-color: rgb(247, 132, 132);
}
