body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(247, 206, 238);
}
h1 {
  text-align: center;
  color: rgb(197, 78, 183);
  font-family: "Times New Roman", Times, serif;
}
.container {
  width: 80%;
  margin: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 3px 2px 1px rgb(212, 187, 207);
}
.tabel-head th {
  background-color: rgb(61, 19, 58);
  color: rgb(172, 155, 170);
  height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}
.tabel-body tr:nth-child(even) {
  background-color: rgb(255, 173, 248);
  height: 35px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: rgb(211, 73, 211);
}
.tabel-body tr:nth-child(odd) {
  background-color: rgb(243, 207, 240);
  height: 35px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: rgb(207, 61, 207);
}
